#textblock {
  background-color: #283749;
  height: 400px;
  margin-top: -40vh;
}

#textblock-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 70px;
}

#textblock-title {
  color: white;
  font-size: 35px;
  font-weight: 600;
  font-family: "Helvetica Neue";
}

#textblock-content {
  color: #ffaf1b;
  font-size: 20px;
}

#textblock-footer {
  color: #ffaf1b;
  font-size: 15px;
  font-weight: 400;
  position: fixed;
  width: 100%;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

#textblock-devsense {
  text-decoration: none;
  color: #ffaf1b;
  font-size: 15px;
  font-weight: 600;
}

.animation,
.animation_layer {
  min-height: 100vh;
}

.animation {
  display: block;
  position: relative;
  z-index: 10;
}

.animation_layer {
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
}
.animation_layer.parallax {
  position: fixed;
}

#artback {
  background-image: url(../images/background.png);
}

#mountain {
  background-image: url(../images/mountains.png);
  /* background-color: red;
  height: 250px; */
}

#logoland {
  background-image: url(../images/logo_land.png);
}

#jungle1 {
  background-image: url(../images/jungle1.png);
}

#jungle2 {
  background-image: url(../images/jungle2.png);
}

#jungle3 {
  background-image: url(../images/jungle3.png);
}

#jungle4 {
  background-image: url(../images/jungle4.png);
}

#jungle5 {
  background-image: url(../images/jungle5.png);
}

#manonmountain {
  background-image: url(../images/man_on_mountain.png);
}

#lanitra {
  background-image: url(../images/para/1-lanitra.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

#vatobe {
  background-image: url(../images/para/2-Vatobe.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

#hazogauche {
  background-image: url(../images/para/hazogauche.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

#hazodroite {
  background-image: url(../images/para/hazodroite.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

#volana {
  background-image: url(../images/para/4-volana.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

#olona {
  background-image: url(../images/para/5-Olona.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

#kintana {
  background-image: url(../images/para/6-kintana.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

#nuage {
  background-image: url(../images/para/nuage.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

#etoiletsyaiko {
  background-image: url(../images/para/7-etoiletsyhaiko.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
